<h3><strong>쇼핑하기</strong></h3>
<div class="shop_wrap d-flex justify-content-center">
  <div class="shop_filter">
    <form class="" action="/shopping/index" method='get'>
      <fieldset>
        <legend>Ages</legend>
        <div>
          <input type="checkbox" id="scales" name="0" value="10대후반" /><label>10대후반</label>
          <input type="checkbox" id="scales" name="1" value="20대초반" /><label>20대초반</label>
          <input type="checkbox" id="scales" name="2" value="20대후반" /><label>20대후반</label><br>
          <input type="checkbox" id="scales" name="3" value="30대초반" /><label>30대초반</label>
          <input type="checkbox" id="scales" name="4" value="30대후반" /><label>30대후반</label>
          <input type="checkbox" id="scales" name="5" value="40대이상" /><label>40대이상</label>
        </div>
      </fieldset>

      <fieldset>
        <legend>Skintypes</legend>
        <div>
          <input type="checkbox" id="horns" name="6" value="건성" /><label>건성</label>
          <input type="checkbox" id="claws" name="7" value="지성" /><label>지성</label>
          <input type="checkbox" id="claws" name="8" value="복합성" /><label>복합성</label>
          <input type="checkbox" id="claws" name="9" value="중성" /><label>중성</label>
          <input type="checkbox" id="claws" name="10" value="민감성" /><label>민감성</label>
        </div>
      </fieldset>

      <fieldset>
        <legend>Specials</legend>
        <div>
          <input type="checkbox" id="scales" name="11" value="atopy" /><label>아토피</label>
          <input type="checkbox" id="claws" name="12" value="pimple" /><label>여드름</label>
          <input type="checkbox" id="horns" name="13" value="allergy" /><label>알러지</label>
        </div>
      </fieldset>

      <fieldset>
        <legend>Cosmestics</legend>
        <div>
          <input type="checkbox" id="scales" name="14" value="bb" /><label>BB</label>
          <input type="checkbox" id="horns" name="15" value="lip" /><label>Lip</label>
          <input type="checkbox" id="claws" name="16" value="eyebrow" /><label>Eyebrow</label>
          <input type="checkbox" id="claws" name="17" value="eyeline" /><label>Eyeline</label>
          <input type="checkbox" id="claws" name="18" value="color" /><label>색조화장</label>
        </div>
      </fieldset>

      <input type="submit" value="필터링">
    </form>
  </div>

  <div class="shop_result">
    <%= @data %> <br>
    <%= @products_data %> <br>
    <%= @products.length %>
    <hr>

    <% @products.each do |product| %>
      <p><%= link_to product.name, product_path(product) %></p>
      <%= link_to (image_tag product.image.url(:thumb)), product %>
      <hr>
    <% end %>
  </div>
</div>
