<p id="notice"><%= notice %></p>

<p>
  <strong>Skintype:</strong>
  <%= @user_spec.skintype %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_spec.age %>
</p>

<p>
  <strong>Atopy:</strong>
  <%= @user_spec.atopy %>
</p>

<p>
  <strong>Pimple:</strong>
  <%= @user_spec.pimple %>
</p>

<p>
  <strong>Allergy:</strong>
  <%= @user_spec.allergy %>
</p>

<p>
  <strong>Bb:</strong>
  <%= @user_spec.bb %>
</p>

<p>
  <strong>Lip:</strong>
  <%= @user_spec.lip %>
</p>

<p>
  <strong>Eyebrow:</strong>
  <%= @user_spec.eyebrow %>
</p>

<p>
  <strong>Eyeline:</strong>
  <%= @user_spec.eyeline %>
</p>

<p>
  <strong>Color:</strong>
  <%= @user_spec.color %>
</p>

<p>
  <strong>Skincolor:</strong>
  <%= @user_spec.skincolor %>
</p>

<%= link_to 'Edit', edit_user_spec_path(@user_spec) %> |
<%= link_to 'Back', user_specs_path %>
