<%= render "header" %>
<h3><strong>나의 맞춤 제품</strong></h3>

  <% list = ["피부", "화장", "헤어", "바디"] %>
  <% contentsCount = [0,0,0,0] %>
    <% (0..3).each do |i| %>
      <%= list[i] %>
      <div class="d-flex justify-content-center">
        <% @products.each do |product| %>
          <%if contentsCount[i] <=5 %>
            <% if product.category == list[i] %>
              <div class="card border-dark mb-3" style="max-width: 18rem; margin-right: 5%;">
                <div class="card-header"><%= link_to product.name, product %><%= product.category %></div>
                <div class="card-body text-dark">
                  <p class="card-text"><%= image_tag product.image.url(:thumb) %></p>
                  <h5 class="card-title"><%= product.price %></h5>
                </div>
              </div>
            <% end %>
            <% contentsCount[i] += 1 %>
          <% end %>
        <% end %>
      </div>
      <% contentsCount = [0,0,0,0] %>
    <% end %>

<%= @productArray %>
