<%= render "header" %>
<!--<h3><strong>제품별 랭킹</strong></h3>-->
<style>
.row.no-gutter {
  margin-left: 200px;
  margin-right: 300px;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
</style>
  <div style="margin-top:5%">
    <ul>
      <% @products.each do |product| %>
          <div class="row no-gutter">
              <div class="col padding-0">
                <h1 style="text-align:center; margin-top:10%"><%= @ranking %></h1>
              </div>
              <div class="col">
                 <%= image_tag product.image.url(:thumb), size:"100x100" %>
              </div>
              <div class="col-lg- ">
                <p style="font-size:15pt;"><%= product.name%></p>
                <% k = product.score.floor()  %> 
                <p style="font-size:10pt;">150mm <%= product.price %>원 <br>
                <%= product.score %> <%= '♥'*k %><%= '♡'* (5-k)%> (<%= product.reviews.count %>)  
                </p>
              </div>
              <div class="col">
                <br>
                <span class="category-clip badge badge-primary">
                  <%= link_to '상세보기', product, style:"color: inherit;" %>
                </span>
              </div>
            </div>
          <hr> 
          <% @ranking += 1 %>     
        <% end %>
        <% ranking = 0 %> 
    </ul>
  </div>
