<%= render "header" %>
<h3><strong>제품별 랭킹</strong></h3>
  <div style="margin-top:5%">
    <% @products.each do |product| %>
      <tr>
      </tr>
      <div class="row">
        <div class="col">
          <h1 style="text-align:center"><%= @ranking %></h1>
        </div>
        <div class="col">
           <%= image_tag product.image.url(:thumb) %>
        </div>
        <div class="col">
          <%= product.name%>
          <br>
          <br>
          <p>가격 : <%= product.price %></p>
        </div>
        <div class="col">
          <p>평점 : <%= product.score %></p>
          <br>
          <%= link_to '제품보기', product %>
        </div>
      </div>
      <hr> 
      <% @ranking += 1 %>     
    <% end %>
    <% ranking = 0 %> 
</div>
</table>
