<%= render "header" %>
<h3><strong>제품별 랭킹</strong></h3>

  <div style="margin-top:5%">
    <% @products.each do |product| %>
      <tr>
        <!-- reivews 평점 계산하기 -->
        <%
          reviews = product.reviews
          rate_sum = 0
          reviews.each do |review|
            if review.rating == nil
              review.rating = 0
            end
            rate_sum += review.rating
          end

          if rate_sum != 0
            rate_avr = rate_sum.to_f / product.reviews.count
          elsif
            rate_avr = 0
          end
        %>
        <!-- reivews 평점 계산하기 end -->


      </tr>
      <div class="row">
        <div class="col">
          <h1 style="text-align:center"><%= @ranking %></h1>
        </div>
        <div class="col">
           <%= image_tag product.image.url(:thumb) %>
        </div>
        <div class="col">
          <%= product.name%>
          <br>
          <br>
          <p>가격 : <%= product.price %></p>
        </div>
        <div class="col">
          <p>평점 : <%= rate_avr %></p>
          <br>
          <%= link_to '제품보기', product %>
        </div>
      </div>
      <hr> 
      <% @ranking += 1 %>     
    <% end %>
    <% ranking = 0 %> 

</div>
</table>
