<%= form_for(manual) do |f| %>
  <% if manual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manual.errors.count, "error") %> prohibited this manual from being saved:</h2>

      <ul>
      <% manual.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :category %>
    <%= f.select :category, ['피부', '화장', '헤어', '바디'] %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
      <%= f.label :내용 %>
      <%= tinymce :language => "en" %>
      <%= f.text_area :content, class: "form-control tinymce", rows: "10" %>
  </div>

  <div class="field">
    <%= f.label :skintype %>
    <%= f.select :skintype, ['건성', '지성', '복합성', '중성', '민감성'] %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.select :age, ['10대', '20대초반', '20후반', '30대초반', '30후반', '40대이상'] %>
  </div>

  <div class="field">
    <%= f.label :atopy %>
    <%= f.check_box :atopy %>
  </div>

  <div class="field">
    <%= f.label :pimple %>
    <%= f.check_box :pimple %>
  </div>

  <div class="field">
    <%= f.label :allergy %>
    <%= f.check_box :allergy %>
  </div>

  <div class="field">
    <%= f.label :bb %>
    <%= f.check_box :bb %>
  </div>

  <div class="field">
    <%= f.label :lip %>
    <%= f.check_box :lip %>
  </div>

  <div class="field">
    <%= f.label :eyebrow %>
    <%= f.check_box :eyebrow %>
  </div>

  <div class="field">
    <%= f.label :eyeline %>
    <%= f.check_box :eyeline %>
  </div>

  <div class="field">
    <%= f.label :color %>
    <%= f.check_box :color %>
  </div>

  <div class="field">
    <%= f.label :skincolor %>
    <%= f.number_field :skincolor %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
