<%= render "header" %>
<h3><strong>뷰티 설명서 :<%= @manuals.count %>개</strong></h3>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Skintype</th>
      <th>Age</th>
      <th>Atopy</th>
      <th>Pimple</th>
      <th>Allergy</th>
      <th>Bb</th>
      <th>Lip</th>
      <th>Eyebrow</th>
      <th>Eyeline</th>
      <th>Color</th>
      <th>Skincolor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manuals.each do |manual| %>
      <tr>
        <th><%= manual.id %></th>
        <td><%= manual.title %></td>
        <td><%= manual.skintype %></td>
        <td><%= manual.age %></td>
        <td><%= manual.atopy %></td>
        <td><%= manual.pimple %></td>
        <td><%= manual.allergy %></td>
        <td><%= manual.bb %></td>
        <td><%= manual.lip %></td>
        <td><%= manual.eyebrow %></td>
        <td><%= manual.eyeline %></td>
        <td><%= manual.color %></td>
        <td><%= manual.skincolor %></td>
        <td><%= link_to 'Show', manual %></td>
        <td><%= link_to 'Edit', edit_manual_path(manual) %></td>
        <td><%= link_to 'Destroy', manual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= @manualArray %>
<%= link_to '새 메뉴얼 등록', new_manual_path %>
