<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @manual.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @manual.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @manual.content.html_safe %>
</p>

<p>
  <strong>Skintype:</strong>
  <%= @manual.skintype %>
</p>

<p>
  <strong>Age:</strong>
  <%= @manual.age %>
</p>

<p>
  <strong>Atopy:</strong>
  <%= @manual.atopy %>
</p>

<p>
  <strong>Pimple:</strong>
  <%= @manual.pimple %>
</p>

<p>
  <strong>Allergy:</strong>
  <%= @manual.allergy %>
</p>

<p>
  <strong>Bb:</strong>
  <%= @manual.bb %>
</p>

<p>
  <strong>Lip:</strong>
  <%= @manual.lip %>
</p>

<p>
  <strong>Eyebrow:</strong>
  <%= @manual.eyebrow %>
</p>

<p>
  <strong>Eyeline:</strong>
  <%= @manual.eyeline %>
</p>

<p>
  <strong>Color:</strong>
  <%= @manual.color %>
</p>

<p>
  <strong>Skincolor:</strong>
  <%= @manual.skincolor %>
</p>

<%= link_to 'Edit', edit_manual_path(@manual) %> |
<%= link_to 'Back', manuals_path %>
<hr>

<div class="">
  <h2><%= @manual.comments.count %> Comments</h2>
  <%= render @manual.comments %>
  <hr>
  <h3>Add a Comment: </h3>
  <%= render "comments/form" %>
</div>
