<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @manual.category %>
</p>

<p>
  <strong>Title:</strong>
  <%= @manual.title %>
</p>

<p>
  <strong>ThumbImage:</strong>
  <%= image_tag @manual.image.url(:thumb) %>
</p>

<p>
  <strong>Content:</strong>
  <%= raw @manual.content %>
</p>

<p>
  <strong>Skintype:</strong>
  <%= @manual.skintype %>
</p>

<p>
  <strong>Age:</strong>
  <%= @manual.age %>
</p>

<p>
  <strong>Atopy:</strong>
  <%= @manual.atopy %>
</p>

<p>
  <strong>Pimple:</strong>
  <%= @manual.pimple %>
</p>

<p>
  <strong>Allergy:</strong>
  <%= @manual.allergy %>
</p>

<p>
  <strong>Bb:</strong>
  <%= @manual.bb %>
</p>

<p>
  <strong>Lip:</strong>
  <%= @manual.lip %>
</p>

<p>
  <strong>Eyebrow:</strong>
  <%= @manual.eyebrow %>
</p>

<p>
  <strong>Eyeline:</strong>
  <%= @manual.eyeline %>
</p>

<p>
  <strong>Color:</strong>
  <%= @manual.color %>
</p>

<p>
  <strong>Skincolor:</strong>
  <%= @manual.skincolor %>
</p>

<%= link_to like_manual_path(@manual), method: :put, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-heart">
    Like <%= @manual.get_upvotes.size %>
  </span>
<% end %>
<br>

<% if current_user && current_user.roles.first.name == 'admin' %>
  <%= link_to 'Edit', edit_manual_path(@manual) %> |
<% end %>
<%= link_to 'Back', manuals_path %>
<hr>

<div class="">
  <h2><%= @manual.comments.count %> Comments</h2>
  <%= render @manual.comments %>
  <hr>

  <h3>Add a Comment: </h3>
  <%= render "comments/form" %>
</div>
