<div class="users-wrap">
  <div align="center" style="margin-top:10%;">
    <h3><strong>남자의 파우치</strong></h3>
    <br>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, autofocus: true, placeholder: "이메일을 입력해주세요.", label: false, input_html: { autocomplete: 'email' } %>
        <br>
        <%= f.input :password, placeholder: "비밀번호를 입력해주세요.", label: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "로그인" %>
      </div>
    <% end %>
  </div>
</div>
