<p id="notice"><%= notice %></p>

<p>
  <strong>Categroy:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @product.contents %>
</p>

<p>
  <strong>Skintype:</strong>
  <%= @product.skintype %>
</p>

<p>
  <strong>Age:</strong>
  <%= @product.age %>
</p>

<p>
  <strong>Atopy:</strong>
  <%= @product.atopy %>
</p>

<p>
  <strong>Pimple:</strong>
  <%= @product.pimple %>
</p>

<p>
  <strong>Allergy:</strong>
  <%= @product.allergy %>
</p>

<p>
  <strong>Bb:</strong>
  <%= @product.bb %>
</p>

<p>
  <strong>Lip:</strong>
  <%= @product.lip %>
</p>

<p>
  <strong>Eyebrow:</strong>
  <%= @product.eyebrow %>
</p>

<p>
  <strong>Eyeline:</strong>
  <%= @product.eyeline %>
</p>

<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<p>
  <strong>Skincolor:</strong>
  <%= @product.skincolor %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<hr>

<div class="">
  <h2><%= @product.reviews.count %> Reviews</h2>
  <%= render @product.reviews %>
  <hr>
  
  <h3>Add a Review: </h3>
  <%= render "reviews/form" %>
</div>
